/*Colours #63372C #003249 #080F0F #E1E5F2 #813405 #4F3824 #363636*/
html {
    box-sizing: border-box;
    height: 100%;
}
* , *:after, *:before {
    box-sizing: inherit;
}
/*Start Rational and Index styling*/
indexbody {
    display: flex;
}
#indexheader {
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
    letter-spacing: .1em;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    background-color: #003249;
    color: white;
}
#indexmain {
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#indexmain a {
    text-decoration: none;
    padding: 10px;
    width: 200px;
    text-align: center;
    border: thin solid black;
    margin: 5px;
    color: black;
    font-family: sans-serif;
    letter-spacing: .08em;
}
#indexfooter {
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
    letter-spacing: .1em;
    font-size: 2em;
    font-weight: bold;
    background-color: #003249;
    color: white;
}
#Rational_Body img {
    object-fit: cover;
    width: 200px;
    height: 200px;
}
#Rational_Body {
    padding: 20px;
}
#Rational_Main {
    max-width: 900px;
    margin: auto;
}
#Rational_Body h2 {
    display: none;
}
#Rational_Body h3 {
    text-align: center;
    font-family: sans-serif;
    letter-spacing: .1em;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}
#Rational_Main ol {
    margin-bottom: 20px;
    line-height: 1.5em;
    letter-spacing: .05em;
    font-family: sans-serif;
    font-weight: 300;
    list-style: decimal;
    margin-left: 30px;
}
#Rational_Main ul {
    margin-bottom: 20px;
    line-height: 1.5em;
    letter-spacing: .05em;
    font-family: sans-serif;
    font-weight: 300;
    list-style: circle;
    margin-left: 30px;
}
#Rational_Main ul a {
    color: black;
    text-decoration: none;
}
#Wire_Frames li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
#Rational_Main table {
    margin-bottom: 20px;
    line-height: 1.5em;
    letter-spacing: .05em;
    font-family: sans-serif;
}
#Rational_Main table td {
    padding: 10px;
    border: thin solid black;
}
/*End Rational and Index styling*/


/*Start Landing-Header Styling*/
body {
    height: 100%;
}
.Menu_Button {
    margin: 0px auto 0px auto;
    background-color: transparent;
    border-style: none;
}
.Line_Button {
    height: 25px;
    width: 30px;
}
.line1 {
    height: 5px;
    width: 30px;
    background-color: white;
    margin-bottom: 5px;
    border-radius: 10px;
}
.line2 {
    height: 5px;
    width: 30px;
    background-color: white;
    margin-bottom: 5px;
    border-radius: 10px;
}
.line3 {
    height: 5px;
    width: 30px;
    background-color: white;
    border-radius: 10px;
}
#Main_Header_Wrapper_Background {
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
#Main_Header_Wrapper {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    font-family: sans-serif;
    letter-spacing: .1em;
}
#Main_Header_Wrapper h1 {
    color: #E1E5F2;
}
#Main_Nav {
    color: #E1E5F2;
}
.Main_Menu {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    height: 0px;
}
.Show_Menu {
    height: 180px;
    margin-top: 20px;
}
.Hide_Menu {
    height: 0px;
}
#Main_Nav ul li {
    margin: 0px 10px 20px 10px;
    color: #E1E5F2;
}
#Main_Nav ul li a {
    color: #E1E5F2;
    text-decoration: none;
    padding-bottom: 5px;
}
#Main_Nav ul li a:hover {
    border-bottom: 2px solid #E1E5F2;
}
@media(max-width: 549px) {
    #Main_Header_Wrapper {
        padding: 20px 10px 10px 10px;
        min-height: 20vh;
    }
    #Main_Nav {
        margin-top: 10px;
    }
    #Main_Nav ul {
        flex-direction: column;
    }
    #Menu_Display_Button {
        display: block;
        font-size: 1em;
        text-align: center;
    }
    #Main_Header_Wrapper h1 {
        font-size: 2.5em;
        text-align: center;
    }
    #Main_Nav ul li {
        color: #E1E5F2;
        text-decoration: none;
    }
}
@media(min-width: 550px) {
    #Menu_Display_Button {
        display: none;
    }
    #Main_Header_Wrapper {
        display: flex;
        flex-direction: column;
        padding: 20px 10px 10px 10px;
        align-items: center;
    }
    .Main_Menu {
        display: flex;
        flex-direction: row;
        height: auto;
    }
    #Main_Header_Wrapper h1 {
        font-size: 2.5em;
        color: #E1E5F2;
        margin-bottom: 10px;
        text-align: center;
    }
}
@media(max-width: 900px) {
    #Parallax_Medium {
        background-image: linear-gradient(white, rgb(0, 50, 73)), url("Entrance.png");
        height: 70%;
        width: 100%;
        background-position: center, center;
        background-repeat: no-repeat, no-repeat;
        background-size: contain, cover;
        background-blend-mode: multiply;
    }
    #Main_Header_Wrapper {
        width: 100vw;
    }
    #Main_Header_Wrapper_Background {
        background-color: #003249;
    }
}
@media(min-width: 900px) {
    #Main_Nav ul li {
        margin: 10px 10px 10px 10px;
    }   
    #Main_Header_Wrapper_Background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
    }
    #NI_Landing_Header {
        background-image: linear-gradient(white, rgb(0, 50, 73)), url("Entrance.png");
        height: 100%;
        width: 100%;
        background-attachment: scroll, fixed;
        background-position: center, center;
        background-repeat: no-repeat, no-repeat;
        background-size: cover, cover;
        background-blend-mode: multiply;
    }
    #Main_Header_Wrapper h1 {
        font-size: 2.5em;
    }
    #Main_Header_Wrapper {
        flex-direction: row;
        width: 80vw;
        justify-content: space-around;
    }
    #Main_Header_Wrapper.Main_Header_Wrapper_Start {
        border-bottom-color: #E1E5F2;
        border-bottom-style: solid;
        border-bottom-width: thin;
        background-color: transparent;
        padding: 30px 10px 20px 10px;
    }
    #Main_Header_Wrapper.Main_Header_Wrapper_Moved {
        border-bottom-style: none;
        padding: 20px 10px 10px 10px;
    }
    #Main_Header_Wrapper_Background {
        background-color: transparent;
    }
    #Main_Header_Wrapper_Background.Main_Header_Wrapper_Background_Start {
        background-color: transparent;
    }
    #Main_Header_Wrapper_Background.Main_Header_Wrapper_Background_Moved {
        background-color: #003249;
    }
    #Main_Header_Wrapper h1 {
        text-align: none;
    }
}
/*End Landing-Header Styling*/

/*Start Landing - Main Styling*/
.Landing_Main a {
    text-decoration: none;
/*    color: #363636;*/
    padding-bottom: 5px;
}
.Landing_Main p {
    padding-bottom: 5px;
}

.Introduction {
/*    background-color: #D3D0CB;*/
}
.Introduction p:hover {
    border-bottom: 2px solid #003249;
}
.Introduction h3 {
    text-align: center;
    margin: 20px 0px 20px 0px;
    font-family: sans-serif;
    font-size: 1.5em;
}
.Introduction h3 {
    display: none;
}
.Overview  {
    padding: 25px 0px 25px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Overview a {
    align-self: flex-end;
    margin: 10px 10px 0px 0px;
}
.Overview a:hover {
    border-bottom: thin solid black;
}
.Overview img {
    display: none;
}

.Overview h4 {
    display: none;
}
.Overview blockquote {
    font-style: italic;
    font-family: sans-serif;
    line-height: 1.40em;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    color: black;
    letter-spacing: .1em;
}
.Overview a {
    color: black;
    letter-spacing: .1em;
    font-family: sans-serif;
    font-size: .8em;
}
.Landing_Introduction_Separator {
    width: 70%;
    border-bottom: thin solid black;
    margin: 0px auto 20px auto;
}
.Description {
    padding-bottom: 30px;
}
.Description p {
    font-family: sans-serif;
    text-align: center;
}
.Description h4 {
    display: none;
}
.Description img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.Description_Img_Overflow {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Description a {
    color: black;
    letter-spacing: .1em;
}
.History {
    padding: 25px 0px 25px 0px;
    background-image: linear-gradient(black, white, gray), url("norfolk-island-27.JPG");
    height: 100%;
    width: 100%;
    background-attachment: scroll, scroll;
    background-position: center, top left;
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    background-blend-mode: multiply;
}
.History p {
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: 1.40em;
    padding: 20px;
    font-weight: 200;
    letter-spacing: .04em;
    margin-bottom: 30px;
}
.History a:hover {
    border-bottom: 2px solid #E1E5F2;
}
.History h3 a {
    font-family: sans-serif;
    text-align: center;
    color: white;
    font-size: 1.25em;
    letter-spacing: .1em;
}
.History h3 {
    text-align: center;
    font-weight: bold;
    letter-spacing: .04em;
}
.Landing_History_Sub_Item {
    font-size: .8em;
    font-weight: 200;
    letter-spacing: .04em;
}
.History h4 {
    text-align: center;
    color: white;
    padding: 10px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.25em;
    letter-spacing: .1em;
    margin-top: 30px;
}
.History img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 10px;
    display: none;
}
.History_Img_Overflow {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Locations {
    padding: 25px 0px 20px 0px;
    border-bottom: thin solid black;
    margin: 0px 10px 0px 10px;
}
.Locations p {
    font-family: sans-serif;
    text-align: center;
}
.Locations p:hover {
    border-bottom: 2px solid #363636;
}
.Locations h3 {
    display: none;
}
.Locations img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 30px;
}
.Locations_Img_Overflow {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Locations a {
    color: black;
    letter-spacing: .1em;
}
.Gallery {
    padding: 25px 0px 0px 0px;
    margin: 0px 10px 25px 10px;
}
.Gallery p {
    text-align: center;
}
.Gallery p:hover {
    border-bottom: 2px solid black;
}
.Gallery p a {
    font-family: sans-serif;
    text-align: center;
    color: black;
    letter-spacing: .1em;
}
.Gallery h3 {
    display: none;
}
.Gallery img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 30px;
}
.Gallery_Img_Overflow {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Landing_Footer {
    background-image: url("norfolk-island-27.JPG");
    height: 100%;
    width: 100%;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.Landing_Footer h2 {
    color: white;
    padding: 20px;
    font-family: sans-serif;
    letter-spacing: .1em;
}
@media(min-width: 500px) {
    .Description {
        margin: auto;
    }
    .Description_Img_Overflow {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .Description_Img_Overflow img {
        margin-right: 30px;
    }
    .Description_Img_Overflow p {
        font-size: 1.25em;
        display: inline-block;
    }
    .Description_Img_Text_Wrapper {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Locations_Img_Overflow {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .Locations_Img_Overflow img {
        margin-right: 30px;
    }
    .Locations_Img_Overflow p {
        font-size: 1.25em;
        display: inline-block;
    }
    .Locations_Img_Text_Wrapper {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Gallery_Img_Overflow {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .Gallery_Img_Overflow img {
        margin-right: 30px;
    }
    .Gallery_Img_Overflow p {
        font-size: 1.25em;
        display: inline-block;
    }
     .Gallery_Img_Text_Wrapper {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media(min-width: 700px) {
    .Overview blockquote {
        padding-left: 50px;
        padding-right: 50px;
    }
    .Description img {
        width: 250px;
        height: 250px;
        margin-bottom: 0px;
    }
    .History img {
        width: 250px;
        height: 250px;
        margin-bottom: 0px;
    }
    .Locations img {
        width: 250px;
        height: 250px;
        margin-bottom: 0px;
    }
    .Gallery img {
        width: 250px;
        height: 250px;
        margin-bottom: 0px;
    }
    .Locations {
        margin: 0px 50px 0px 50px;
    }
    .Gallery {
        margin: 0px 50px 25px 50px;
    }
}
@media(min-width: 900px) {
    .Landing_Footer {
        background-image: url("norfolk-island-27.JPG");
        height: 100%;
        width: 100%;
        background-attachment: fixed;
        background-position: bottom left;
        background-repeat:  no-repeat;
        background-size: cover;
    }
    .History {
        padding: 25px 0px 25px 0px;
        background-image: linear-gradient(black, gray, white), url("norfolk-island-27.JPG");
        height: 100%;
        width: 100%;
        background-attachment: scroll, fixed;
        background-position: center, top left;
        background-repeat: no-repeat, no-repeat;
        background-size: cover, cover;
        background-blend-mode: multiply;
    }
    .Landing_History_Sub {
        display: grid;
        grid-template-columns: repeat(4, 1f);
    }
    .Landing_History_Sub_Item_1 {
        grid-column: 1 / span 1;
    }
    .Landing_History_Sub_Item_2 {
        grid-column: 2 / span 1;
    }
    .Landing_History_Sub_Item_3 {
        grid-column: 3 / span 1;
    }
    .Landing_History_Sub_Item_4 {
        grid-column: 4 / span 1;
    }
}
/*End Landing-Main styling*/

/*Begin General Page styling*/
#Page_Header_Wrapper_Background {
    background-color: #003249;
}
*/
#Main_Header_Wrapper.Page_Main_Wrapper_Header {
    -webkit-transition: all 0s ease;
    -moz-transition: all 0s ease;
    -o-transition: all 0s ease;
    transition: all 0s ease;
}
p {
    margin-bottom: 20px;
    line-height: 1.5em;
    letter-spacing: .05em;
    font-family: sans-serif;
    font-weight: 300;
}
.Page_Footer {
    height: 20vh;
    background-color: #003249;
    color: white;
    letter-spacing: .05em;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
} 
.Page_Footer h2 {
    padding: 20px;
}
.Introduction_Main {
    max-width: 900px;
    margin: 0px auto 0px auto;
}
.History_Main {
    max-width: 900px;
    margin: 0px auto 0px auto;
}
.Locations_Main {
    max-width: 900px;
    margin: 0px auto 0px auto;
}
@media(min-width: 900px) {
    #Page_Header_Wrapper_Background {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: fixed;
        width: 100%;
    }
}
/*End General Page styling*/

/*Begin Introduction Page styling*/
.Introduction_Main {
    padding: 75px 10px 10px 10px;
}
.Introduction_Main h2 {
    display: none;
}
.Introduction_Main h3 {
    text-align: center;
    font-family: sans-serif;
    letter-spacing: .1em;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: thin solid black;
    display: inline-block;
}
.Introduction_Brief {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Brief_Body img {
    margin: 10px auto 20px auto;
    display: block;
}
.Page_Description {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Description_Body {
    text-align: left;
}
@media(min-width: 550px) {
    .Brief_Body img {
        float: left;
        margin: 0px 20px 0px 20px;
    }
}
@media(min-width: 900px) {
    .Introduction_Main {
        padding: 150px 10px 10px 10px;
    }
}
/*End Introduction Page styling*/

/*Begin History Page styling*/
.History_Main {
    padding: 75px 10px 10px 10px;
}
.History_Main h2 {
    display: none;
}
.History_Main h3 {
    text-align: center;
    font-family: sans-serif;
    letter-spacing: .1em;
    font-size: 2em;
    font-weight: bold;
/*    padding-top: 10px;*/
    margin-bottom: 50px;
    padding-bottom: 20px;
    border-bottom: thin solid black;
    display: inline-block;
}
.History_Main h4 {
    text-align: center;
    font-family: sans-serif;
    letter-spacing: .1em;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}
.History_Of_Norfolk {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.History_Of_Norfolk img{
    max-width: 500px;
    margin-bottom: 20px;
    width: 100%;
}
.History_KAVHA_Buildings h5 {
    text-align: center;
    font-family: sans-serif;
    letter-spacing: .1em;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}
.History_Major_Buildings {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5em;
    letter-spacing: .05em;
    font-family: sans-serif;
    font-weight: 300;
}
.History_Major_Buildings_List ul li {
    margin: 0px 0px 20px 10px;
    padding-left: 10px;
    border-left: medium solid black;
}
@media(min-width: 1200px) {
    .History_Major_Buildings {
        flex-direction: row;
    }
    .History_Major_Buildings_List ul li {
        margin-left: 20px;
    }
    .History_KAVHA_Buildings h5 {
        margin-bottom: 20px;
    }
}
@media(min-width: 900px) {
    .History_Main {
        padding: 150px 10px 10px 10px;
    }
}
/*End History Page styling*/

/*Begin Locations Page styling*/
.Locations_Main {
    padding: 75px 10px 10px 10px;
}
.Locations_Main h2 {
    display: none;
}
.Locations_Main h3 {
    text-align: center;
    font-family: sans-serif;
    letter-spacing: .1em;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: thin solid black;
    display: inline-block;
}
.Locations_Main h4 {
    text-align: center;
    font-family: sans-serif;
    letter-spacing: .1em;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}
.Locations_Main img {
    width: 100%;
    max-width: 300px;
    display: block;
    margin: 0px auto 20px auto;
}
.Page_Locations {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Locations_Main h5 {
    text-align: center;
    font-family: sans-serif;
    letter-spacing: .1em;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 10px;
    text-align: center;
}
.Locations_Main section {
    border-bottom: thin solid black;
    margin-bottom: 20px;
}
.Longridge {
    border-style: none !important;
}
@media(min-width: 900px) {
    .Locations_Main {
        padding: 150px 10px 10px 10px;
    }
}
/*End Locations Page styling*/

/*Begin Gallery Page styling*/
.Galleries_Main {
    padding: 75px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Photo_Gallery {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.Galleries_Main h3 {
    text-align: center;
    font-family: sans-serif;
    letter-spacing: .1em;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: thin solid black;
    display: inline-block;
}
.Photo_Gallery img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: thick solid black;
}
.Photo_Gallery img:hover {
    border: thin solid black;
}
@media(min-width: 900px) {
    .Galleries_Main {
        padding: 150px 10px 10px 10px;
    }
}
/*End Gallery Page styling*/
